.profile {
  @extend .flex-column;
  @extend .align-center;
  @include media-custom(500px, null) {
    display: flex;
    flex-direction: row;
    .avatar-container {
      flex: 1;
    }
    .nametag-container {
      margin-left: $content-space-sm;
    }
  }
  * {
    margin-bottom: 0;
  }
  .avatar-container {
    width: 100%;
    margin-top: $content-space-sm;
  }
  .nametag-container {
    flex: 2;
    width: 100%;
    padding-top: $content-space-sm;
    .nametag {
      font-size: $h3-heading-font-size;
      font-size: 7vw;
      @include tablet {
        font-size: $text-xxl;
      }
    }
  }
}
