.profile {
  * {
    margin-bottom: 0;
  }
  .avatar-container {
    margin: $content-space-sm 0 0 $content-space-sm;
    min-width: 35%;
    .avatar {
      min-height: $dewald-avatar-height-mobile;
      @include tablet {
        min-height: $dewald-avatar-height;
      }
    }
    background: $desert-sky-dusk;
  }
  .nametag-container {
    width: 65%;
    .nametag {
      font-size: $h3-heading-font-size;
      font-size: 7vw;
      @include tablet {
        font-size: $text-xxl;
      }
    }
  }
}
