.profile {
  min-width: $browser-min-width;
  * {
    margin-bottom: 0;
  }
  .avatar-container {
    width: 35%;
    .avatar {
      margin: 0 auto;
    }
  }
  .nametag-container {
    width: 65%;
    .nametag {
      font-size: $h3-heading-font-size;
      font-size: 7vw;
    }
  }
}