.profile {
  * {
    margin-bottom: 0;
  }
  .avatar-container {
    width: 35%;
    margin: $content-space-sm 0 0 $content-space-sm;
    .avatar {
      margin: 0 auto;
    }
  }
  .nametag-container {
    width: 65%;
    .nametag {
      font-size: $h3-heading-font-size;
      font-size: 7vw;
      @include tablet {
        font-size: $text-xxl;
      }
    }
  }
}
