// variables
$browser-min-width: 320px;
$browser-max-width: 1400px;
$page-content-max-width: 1100px;
$size-bump: 10;
$content-container-margin: 10px 20px;
$content-space-xs: 10px;
$content-space-sm: 20px;
$content-space-md: 35px;
$content-space-lg: 50px;
$black: #2f2f2f;
$light-gray: #cccccc;
$lighter-gray: #e3e0e0;
$extremely-light-gray: #f2f2f2;
$desert-sky-dusk: #0090c4;
$desert-sand: #ffe599ff;
$desert-white: #fcfafaff;
$desert-red: #9a0646;
$ice-blue: #0090c415;
$foxdoubt-script: "Pacifico", cursive;
$icon-width: 55px;
$icon-height: 55px;
$icon-background-size: 75px 93px;

$article-title-font-size: 28px;
$h3-heading-font-size: 20px;
$text-xxl: 70px;

$article-content-font-size: 14px;
$article-content-font-size-sm: 12px;
$article-content-font-size-xs: 9px;
$card-height: 50px;
$tablet-width: 768px;
$desktop-width: 1024px;
$footer-height: 100px;

// mixins

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin icon($url, $background-size: $icon-background-size, $width: $icon-width, $height: $icon-height) {
  width: $width;
  height: $height;
  background-repeat: no-repeat;
  background-size: $background-size;
  background-image: url("#{$url}");
}

// placeholders

%uppercase-small {
  text-transform: uppercase;
  font-size: $article-content-font-size-xs;
}

%uppercase-xs {
  text-transform: uppercase;
  font-size: $article-content-font-size-sm;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $extremely-light-gray;
  color: $black;
  min-width: $browser-min-width;
}

body,
html {
  position: relative;
  height: 100%;
}

h1 {
  font-family: $foxdoubt-script;
  margin: 0;
}

p {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $desert-sky-dusk;
  &:visited {
    color: $desert-sky-dusk;
  }
}

img {
  display: block;
}

// framework

.card {
  min-height: $card-height;
  display: flex;
  align-items: center;
  &-white {
    background-color: $desert-white;
  }
}

.color {
  &-content {
    color: $black;
    &:visited {
      color: $black;
    }
  }
  &-desert-sky-dusk {
    color: $desert-sky-dusk;
  }
}

.bg {
  &-ice-blue {
    background-color: $ice-blue;
  }
  &-desert-sky-dusk {
    background-color: $desert-sky-dusk;
  }
}

.desert-sky-dusk {
  color: $desert-sky-dusk;
}

.padding-sm {
  padding: $content-space-sm;
}

.padding-top {
  &-xs {
    padding-top: $content-space-xs;
  }
  &-sm {
    padding-top: $content-space-sm;
  }
  &-md {
    padding-top: $content-space-md;
  }
}

.xs-margin {
  margin: $content-space-xs;
  &-top {
    margin-top: $content-space-xs;
  }
}

.sm-margin {
  margin: $content-space-sm;
}

.md-margin {
  margin: $content-space-md;
  &-tablet {
    margin: $content-space-md;
  }
}

.sm-padding {
  padding: $content-space-sm;
}

.align-self-flex-end {
  align-self: flex-end;
}

.flex-column {
  flex-direction: column;
  &-vertical-center {
    flex-direction: column;
    justify-content: center;
  }
}

.uppercase-small {
  @extend %uppercase-small;
}

.blue-underline {
  border-bottom: 3px solid $desert-sky-dusk;
}

.article-title {
  font-size: $article-title-font-size;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
  &-tablet {
    @include tablet {
      display: flex;
    }
  }
}

.flex-1 {
  flex: 1;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
  &-tablet {
    @include tablet {
      align-items: center;
    }
  }
}

.block-quote,
.block-quote-container {
  color: $light-gray;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

// custom

.horizontal-divider {
  background-color: $lighter-gray;
}

.top-nav {
  height: $card-height;
  background-color: $desert-sky-dusk;
  justify-content: flex-end;
  padding: 0 $content-space-xs;
  @include tablet {
    padding: 0 $content-space-lg;
  }
  h1 {
    cursor: pointer;
    font-size: $article-content-font-size-sm;
    .logo-text {
      font-family: $foxdoubt-script;
      color: $desert-white;
    }
  }
}

.site-background {
  background-color: $light-gray;
}

.site-navigation-sticker {
  background-color: $desert-white;
  h1,
  h3 {
    font-size: $h3-heading-font-size;
    a {
      color: $black;
      &:visited {
        color: $black;
      }
    }
  }
}

// "page" as a design construct means all site content on a page
// not including empty surrounding space

.page-container {
  margin: 0 auto;
  max-width: $page-content-max-width;
}

.main-container {
  min-height: 100vh;
  margin: 0 $content-space-sm;
  // this 'padding bottom' is a hack
  // on mobile, the fixed footer is swallowing blog content
  // and doesn't seem to respond to margin
  // however a single pixel computed for a padding bottom
  // generates several pixels of space for mobile Chrome and Safari on
  // IOS. I have no idea why
  padding-bottom: 1px;
  @include tablet {
    margin-left: $content-space-md;
  }
  .main-left {
    background-color: $desert-white;
    min-height: 100vh;
    margin-bottom: ($footer-height * 2);
    @include tablet {
      margin-right: $content-space-xs;
      margin-bottom: 0;
      border-bottom: 1px solid $light-gray;
    }
  }
}

.content-container {
  background: $desert-white;
  padding: 0 $content-space-sm;
  .blog-title {
    font-weight: 600;
  }
  .blog-title,
  .blog-subtitle {
    margin: $content-space-sm 0;
  }
  @include tablet {
    padding-right: $content-space-md;
    width: 720px;
    max-width: 100%;
  }
  p {
    &:not(:first-child) {
      margin-top: $content-space-sm;
    }
  }
}

.foxdoubt-nav {
  display: none;
  @include tablet {
    display: initial;
    min-width: 250px;
    width: 100%;
    max-width: 275px;
    padding: $content-space-xs;
    height: 100%;
    position: sticky;
    top: 0;
    .nav-more-posts-container {
      background-color: $desert-white;
      margin-top: $content-space-sm;
      a {
        color: $black;
      }
    }
  }
}

.blog-content {
  margin: 0 0 120px;
  @include tablet {
    margin: 0;
  }
  p {
    margin: $content-space-xs 0;
  }
}

.icon-cactus {
  @include icon($url: "../images/icons/homemade-cactus.svg", $height: 75px);
}

.icon-fox {
  @include icon("../images/icons/homemade-foxdoubt.svg", 40px);
  background-position: center;
}

.timestamp {
  color: $light-gray;
  text-transform: uppercase;
  margin: $content-space-xs 0;
  & + .byline {
    margin: $content-space-xs 5px;
  }
}

.footer {
  @include tablet {
    height: $footer-height;
  }
  .footer-nav-modal {
    box-shadow: 0 5px 20px #292b2c8d;
    background-color: $desert-sand;
    transition: all 0.2s linear;
    .modal-cover {
      width: 100%;
      height: 100%;
      background-color: $desert-sand;
    }
    .footer-nav-post-preview {
      text-transform: capitalize;
    }
    @include tablet {
      background: none;
      position: initial;
    }
    padding: $content-space-xs;
    height: $footer-height;
    width: 100%;
    position: fixed;
    bottom: 0px;
    right: 0px;
    &.active {
      height: 100%;
      transition: all 0.2s linear;
    }
  }
  p {
    &.active {
      color: $desert-red;
    }
  }
  .nav {
    @include tablet {
      display: none;
    }
    p {
      margin: 0 $content-space-xs;
      cursor: pointer;
    }
    justify-content: space-between;
  }
  .copyright-container {
    @extend .flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: ($footer-height / 2);
    background-color: $desert-sand;
    @include tablet {
      position: initial;
      background-color: initial;
    }
    .copyright-content {
      @extend %uppercase-xs;
    }
  }
}

@import "../components/bio/style.scss";
