// order-dependent imports
@import "./util/variables";
@import "./util/mixins";
@import "./util/placeholders";

@import "./util/framework";
@import "./util/icons";
@import "./util/animations";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $extremely-light-gray;
  color: $black;
  min-width: $browser-min-width;
}

body,
html {
  position: relative;
  height: 100%;
}

h1 {
  font-family: $foxdoubt-script;
  margin: 0;
}

p {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $desert-sky-dusk;
  &:visited {
    color: $desert-sky-dusk;
  }
}

img {
  display: block;
}

// "page" as a design construct means all site content on a page
// not including empty surrounding space

.content-container {
  background: $desert-white;
  padding: 0 $content-space-sm $content-space-sm;
  .blog-title {
    font-weight: 600;
  }
  .blog-title,
  .blog-subtitle {
    margin: $content-space-sm 0;
  }
  @include tablet {
    width: 720px;
    max-width: 100%;
  }
  p {
    &:not(:first-child) {
      margin-top: $content-space-sm;
    }
  }
}

.timestamp {
  color: $light-gray;
  text-transform: uppercase;
  margin: $content-space-xs 0;
  & + .byline {
    margin: $content-space-xs 5px;
  }
}

@import "./vendor/GifPlayer.scss";
@import "../components/bio/bio";
@import "../components/layout/layout";
@import "../templates/blog-post";
