.card {
  min-height: $card-height;
  display: flex;
  align-items: center;
  &-white {
    background-color: $desert-white;
  }
}

.color {
  &-content {
    color: $black;
    &:visited {
      color: $black;
    }
  }
  &-desert-sky-dusk {
    color: $desert-sky-dusk;
  }
}

.bg {
  &-ice-blue {
    background-color: $ice-blue;
  }
  &-desert-sky-dawn {
    background-color: $desert-sky-dawn;
  }
}

.desert-sky-dusk {
  color: $desert-sky-dusk;
}

.padding-sm {
  padding: $content-space-sm;
  &-sides {
    padding: 0 $content-space-sm;
  }
  &-bottom {
    padding-bottom: $content-space-sm;
  }
}

.padding-top {
  &-xs {
    padding-top: $content-space-xs;
  }
  &-sm {
    padding-top: $content-space-sm;
  }
  &-md {
    padding-top: $content-space-md;
  }
}

.xs-margin {
  margin: $content-space-xs;
  &-top {
    margin-top: $content-space-xs;
  }
}

.sm-margin {
  margin: $content-space-sm;
  &-left {
    margin-left: $content-space-sm;
  }
  &-sides {
    margin: 0 $content-space-sm;
  }
  &-bottom {
    margin-bottom: $content-space-sm;
  }
  &-top {
    margin-top: $content-space-sm;
  }
}

.md-margin {
  margin: $content-space-md;
  &-tablet {
    margin: $content-space-md;
  }
}

.sm-padding {
  padding: $content-space-sm;
}

.align-self-flex-end {
  align-self: flex-end;
}

.flex-column {
  flex-direction: column;
  &-vertical-center {
    flex-direction: column;
    justify-content: center;
  }
}

.uppercase-small {
  @extend %uppercase-small;
}

.blue-underline {
  border-bottom: 3px solid $desert-sky-dawn;
}

.article-title {
  font-size: $article-title-font-size;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.center {
  text-align: center;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
  &-tablet {
    @include tablet {
      display: flex;
    }
  }
  &-1 {
    flex: 1;
    &-tablet {
      flex: initial;
      @include tablet {
        flex: 1;
      }
    }
  }
  &-2 {
    flex: 2;
    &-tablet {
      flex: initial;
      @include tablet {
        flex: 2;
      }
    }
  }
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
  &-tablet {
    @include tablet {
      align-items: center;
    }
  }
}

.block-quote,
.block-quote-container {
  color: $gray;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.horizontal-divider {
  background-color: $lighter-gray;
}

.aspect-ratio-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.aspect-ratio-container-1-1 {
  @extend %aspect-ratio-container-styles;
  padding-bottom: 100%;
  img {
    @extend .aspect-ratio-img;
  }
}

.aspect-ratio-container-4-3 {
  @extend %aspect-ratio-container-styles;
  padding-bottom: 75%;
  img {
    @extend .aspect-ratio-img;
  }
}
