@mixin media-custom($min-width, $max-width) {
  @if $max-width {
    @media screen and (min-width: $min-width) and (max-width: $max-width) {
      @content;
    }
  } @else {
    @media screen and (min-width: $min-width) {
      @content;
    }
  }
}

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin icon($url, $background-size: $icon-background-size, $width: $icon-width, $height: $icon-height) {
  width: $width;
  height: $height;
  background-repeat: no-repeat;
  background-size: $background-size;
  background-image: url("#{$url}");
}
