%uppercase-small {
  text-transform: uppercase;
  font-size: $article-content-font-size-xs;
}

%uppercase-xs {
  text-transform: uppercase;
  font-size: $article-content-font-size-sm;
}

%aspect-ratio-container-styles {
  height: 0;
  position: relative;
  background: $lighter-gray;
}
